*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    scroll-behavior: smooth;
    font-family: sans-serif;
    padding: 1rem;
    background: linear-gradient(to bottom right, lightblue, rgb(147, 225, 245));
    position: relative;
}

/* heading */
#heading{
    text-align: center;
    margin: auto;
    background: linear-gradient(to right, red, blue);
    color: transparent;
    -webkit-background-clip: text;
}

/* loader */
.lds-ripple {
  display: inline-block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  color: rgb(0, 157, 242);
}
.lds-ripple div {
  position: absolute;
  border: 4px solid currentColor;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 1;
  }
  100% {
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    opacity: 0;
  }
}

/* photo div */
.image-container{
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.photo-div{
    width: 200px;
    height: 220px;
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 0.5s ease;
}
.photo-div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}
.photo-div img:hover{
    transform: scale(1.1);
}

/* mode */
.mode{
    position: absolute;
    right: 1rem;
    top: 1rem;
    background: #212121;
    width: 50px;
    height: 1.8rem;
    padding: 0.2rem;
    border: 1px solid black;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.round{
    background-color: #fff;
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.move-right{
    transform: translateX(99%);
}
/* for toggling the mode by JS */
.dark-mode-body{
    background: #212121 !important;
}
.dark-mode-div{
    background-color: #fff;
}
.dark-mode-round{
    background-color: #212121;
}


@media  screen and (max-width:520px) {
    .mode{
        top: 3.5rem;
    }

    .image-container{
      padding: 4rem 0;
    }
    .photo-div{
      width: 160px;
    }
}

